<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ hostUrl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ hostUrl }}/css/haroo-cloud-common.css" rel="stylesheet">
    <script>
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }
        var sec = new Date().getTime();
        var tabNo = getRandomInt(0, 1).toString();
        callback2app('rhio.kim@gmail.com', 'dbname-' + tabNo, 'acc-token-'+sec , sec + (1000*60*10));
        // email, table name, token, expire
    </script>
</head>
<body>
<div class="container form-signup only-client">
    <form id="signup-form" method="POST" class="form-horizontal form-signin" action="{{ hostUrl }}/api/logout">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <legend>Account Info</legend>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>

            <div class="col-sm-7">
                <input type="text" name="email" id="email" placeholder="Email" autofocus="" class="form-control" readonly value="{{ userInfo.email|default('Noname') }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button class="btn btn-primary" type="submit">Log out</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>