<div id="sidebar-wrapper">

    <ul class="sidebar">
        <li class="sidebar-main">
            <a href="#" ng-click="toggleSidebar()">
                Dashboard
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>Category</span></li>
        <li class="sidebar-list">
            <a href="/dashboard/list">Total <span class="menu-icon fa fa-globe"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/dashboard/list?t=note">Note <span class="menu-icon fa fa-file-text"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/dashboard/list?t=presentation">Presentation <span class="menu-icon fa fa-video-camera"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/dashboard/list?t=mail">Mail <span class="menu-icon fa fa-envelope"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/dashboard/list?t=todo">Todo <span class="menu-icon fa fa-eye"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="/dashboard/list?t=check">Check <span class="menu-icon fa fa-check-square"></span></a>
        </li>
        <li class="sidebar-title separator"><span>QUICK LINKS</span></li>
        <li class="sidebar-list">
            <a href="#" target="_blank">HarooKit <span class="menu-icon fa fa-external-link"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="/">Home</a>
        </div>
        <div class="col-xs-4">
            <a href="/about">About</a>
        </div>
        <div class="col-xs-4">
            <a href="/support">Support</a>
        </div>
    </div>
</div>