<footer>
    <div class="footer-content is-center">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a href="/studio" class="pure-menu-heading">© 2014 Haroopress, Inc.</a>

            <ul class="dropdown-menu">
                <li><a href="/haroonote">Haroonote</a></li>
                <li><a href="/harookit">Harookit</a></li>
                <li><a href="/extension" title="and guide for haroo cloud api">Extension Guide</a></li>
                <li><a href="/guide" title="enhanced guide of haroo cloud app's (haroopad and others)">Enhanced Usage</a></li>
                <li>
                    <a href="#" id="change_language">Other <i class='fa fa-chevron-down hidden'></i></a>
                    <ul id="change_language_dropout">
                        <li class="pure-menu-heading">Languages</li>
                        <li class="pure-menu-separator"></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Chinese - Type 1</a></li>
                        <li><a href="#">Chinese - Type 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>
