<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/haroo-cloud-common.css">
    <link rel="stylesheet" href="/css/haroo-cloud-patch.css">
</head>
<body>
<div id="page-wrapper" class="active">

    {% include 'partials/dashboard_sidemenu.html' %}

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta pull-left">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            <a href="/">Home</a> / <a href="/dashboard">Dashboard</a> / List
                        </div>
                    </div>
                    {% include 'partials/dashboard_account_info.html' %}
                </div>
            </div>

            <!-- End Header Bar -->

            <!-- Main Content -->
            <div class="row">
                <div class="col-xs-12">
                    {% include 'partials/flash-message.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-tasks"></i> Documents
                            <a href="#" class="pull-right">Manage</a>
                        </div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody data-id="{{ _csrf }}">
                                    {% for item in list %}
                                    <tr class="list-ctrl" data-id="{{ item.value._id | safe }}">
                                        <td style="width: 5em;">{{ page_param.lineCounter - loop.index0 }}</td>
                                        <td><a href="/dashboard/{{ item.value._id | safe }}">{{ item.value.title }}</a></td>
                                        <td style="width: 7.5em;">{{ item.value.updated_at|date('Y-m-d') || item.value.created_at|date('Y-m-d') }}</td>
                                        <td style="width: 3em;">
                                            {% if item.value.meta.share %}
                                            <span class="text-success toggle-public" title="PUBLIC"><i class="fa fa-toggle-on"></i></span>
                                            {% else %}
                                            <span class="text-success toggle-public" title="PRIVATE"><i class="fa fa-toggle-off"></i></span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Wrapper -->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/jquery-cookie/jquery.cookie.js"></script>
<script src="/js/dashboard.js"></script>
<script>
    $(document).ready(function () {
        $('.toggle-public').css('cursor', 'pointer').on('click', function () {
            var that = $(this);
            var id = that.parent().parent().attr('data-id') || '';
            var token = that.parent().parent().parent().attr('data-id');
            $.post('/dashboard/' + id + '/update', { publicUrl: id, _csrf: token }, function (result) {
                if (result.ok) {
                    togglePublic(that);
                }
            });
        });
    });

    function togglePublic($el) {
        var icon = $el.children('i.fa');
        if (icon.hasClass('fa-toggle-off')) {
            icon.removeClass('fa-toggle-off').addClass('fa-toggle-on');
        } else {
            icon.addClass('fa-toggle-off').removeClass('fa-toggle-on');
        }
    }
</script>
</body>
</html>
