<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/haroo-cloud-common.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/main.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/content.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/header.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/widgets.css">
</head>
<body>

<div id="content-wrapper" style="margin-top: 1em;">
    <div class="page-content">
        <!-- Main Content -->

        <div class="row">
            <div class="col-lg-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="widget-icon red pull-left">
                            <i class="fa fa-sitemap"></i>
                        </div>
                        <div class="widget-content pull-left">
                            <div class="title" title="Tags">{{ doc.tags.length }}</div>
                            <div class="comment">Tags</div>
                        </div>
                        <div style="padding-left: 8em;">
                            {{ doc.toc.html | safe }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="widget">
                    <div class="widget-title">
                        <i class="fa fa-tasks"></i> {{ doc.title }}
                        <span class="pull-right hidden">{{ doc.updated_at|default('doc.created_at')|date('Y-m-d') }}</span>
                    </div>
                    <div class="widget-body">
                        <div class="">
                            {{ doc.html | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page Wrapper -->
</body>
</html>
