<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/haroo-cloud-common.css">
    <link rel="stylesheet" href="/css/haroo-cloud-patch.css">
</head>
<body>
<div id="page-wrapper" class="active">

    {% include 'partials/dashboard_sidemenu.html' %}

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="meta pull-left">
                        <div class="page">
                            Dashboard
                        </div>
                        <div class="breadcrumb-links">
                            <a href="/">Home</a> / <a href="/dashboard">Dashboard</a> / View
                        </div>
                    </div>
                    {% include 'partials/dashboard_account_info.html' %}
                </div>
            </div>

            <!-- End Header Bar -->

            <!-- Main Content -->
            <div class="row">
                <div class="col-xs-12">
                    {% include 'partials/flash-message.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="widget-icon red pull-left">
                                <i class="fa fa-sitemap"></i>
                            </div>
                            <div class="widget-content pull-left">
                                <div class="title" title="Tags">{{ doc.tags.length }}</div>
                                <div class="comment">Tags</div>
                            </div>
                            <div style="padding-left: 8em;">
                                {{ doc.toc.html | safe }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-title">
                            <i class="fa fa-tasks"></i> {{ doc.title }}
                            <span class="pull-right">{{ doc.updated_at|default('doc.created_at')|date('Y-m-d') }}</span>
                        </div>
                        <div class="widget-body">
                            <div class="">
                                {{ doc.html | safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Wrapper -->
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/jquery-cookie/jquery.cookie.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
