<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>{{ site.title }}</title>
    <link href="/components/pure/pure.css" rel="stylesheet">
    <link href="/css/haroo-cloud.css" rel="stylesheet">
</head>
<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed top-menu">
    <a href="#" class="pure-menu-heading top-menu-heading">Haroo Cloud for Business에 대해 알아보기</a>
    <ul>
        <li class=""><a href="#">다운로드</a></li>
    </ul>
</div>

<div class="pure-g banner">
    <!-- todo: add some scrolling effect -->
    <div class="pure-u-1-2 graphic">
        <img class="pure-img" src="/img/logo-v1.png" alt="Haroo Avatar"/>
    </div>
    <div class="pure-u-1-2 cloud-form">
        <h1 class="graphic-head">Big Bold Text</h1>
        <p class="graphic-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="First slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Haroopad Open source Markdown Editor</h1>

                    <p>Haroopad gives you the same editing experience regardless of the platform you are working on.
                        It runs on all three major operating systems—Windows, Mac OS X, and Linux.</p>

                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Download latest version</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Second slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Haroonote Professional Writing Platform</h1>

                    <p>You can author professional-looking documents of various formats:
                        blog posts, slides, presentations, reports, email and more.</p>

                    <p><a class="btn btn-lg btn-primary" href="/product/haroonote" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Haroo Kit Web Presentation Application for Haroonote</h1>

                    <p>Install to Your Own and Use your cloud Data of Haroonote, Show your Everything with Web browser</p>

                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Get the source code</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

<div class="container marketing">

    <div class="row">
        <div class="col-md-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Writing</h2>

            <p>Haroopad not only supports Markdown, but also has ability to build extensions for making your own features.
                YouTube, Twitter, and more you can easily embed those contents into your documents.
            </p>

            <p><a class="btn btn-default" href="/product/haroonote/feature" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Cross Platform</h2>

            <p>We support (Ubuntu, 32/64 bit) Windows 7/8, Mac OS X, of Linux.
                and working on IOS, Android
            </p>

            <p><a class="btn btn-default" href="/product/haroonote/feature" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-4">
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Beautiful Theme and Component</h2>

            <p>Supports modern themes in editing area, skins for transformed documents, UI components for interactive
                experiences. You can produce more legible documents.</p>

            <p><a class="btn btn-default" href="/product/haroonote/feature" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Write Your All About It <span class="text-muted">Just write down</span></h2>

            <p class="lead">Simply write a text for your report or homework, daily review or blog post.
                Simply write a text for your report or homework, daily review or blog post.
                Simply write a text for your report or homework, daily review or blog post.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Browse Your Homepage <span class="text-muted">Share To the Web</span>
            </h2>

            <p class="lead">Easily make own blog system, no more wordpress
                Easily make own blog system, no more wordpress
                Easily make own blog system, no more wordpress</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Productive Your Business <span class="text-muted">For The Win.</span></h2>

            <p class="lead">Co-working solution for small business team
                Co-working solution for small business team
                Co-working solution for small business team</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
    </div>

    <hr class="featurette-divider">


    <footer>
        <p class="pull-right"><a href="#top">Back to top</a></p>

        <p>© 2014 Haroopress Company, Inc. · <a href="/customer/privacy">Privacy</a> · <a href="/customer/legal">Legal</a></p>
    </footer>

</div>
</body>
</html>