<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>{{ site.title }}</title>
    <link href="/components/pure/pure.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/haroo-cloud.css" rel="stylesheet">
</head>
<body>
<noscript>
    <style type="text/css">div.top-menu { display: none !important; }</style>
    <div class="pure-g"><p class="pure-u-1 is-center">This website requires "javascript" enabled.</p></div>
</noscript>
<div class="page-wrap">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed top-menu">
        <div class="top-menu-alternative">
            <a href="/" class="top-menu-heading">Check about Haroo Cloud for Business</a>
        </div>
        <ul>
            <li class=""><a href="/" class="">Download</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="pure-g">
            <!-- todo: add some scrolling effect -->
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-2 profile-img">
                <img class="pure-img" src="/img/logo-v1.png" alt="Haroo Avatar"/>
            </div>
            <div class="pure-u-1 pure-u-sm-2-3 pure-u-md-1-2 cloud-form is-center">
                {% if user.email %}
                <div class="form-wrapper is-center">
                    <h1 class="cloud-form-head success">Good To Go</h1>

                    <p class="cloud-form-subhead">Haroonote Professional Writing Platform</p>
                </div>
                <p>
                    <a href="/dashboard" class="pure-button pure-button-primary">Launch Dashboard</a>
                </p>
                <p class="cloud-form-sign-in">
                    or <a href="/logout">Log out</a>
                </p>

                {% else %}
                <div class="form-wrapper is-center {% if !messages.errors %}hidden{% endif %}">
                    {% if messages.errors %}
                    <h1 class="cloud-form-head warning">Something Missed</h1>
                    {% else %}
                    <h1 class="cloud-form-head success">Simple Approach</h1>
                    {% endif %}
                    <form class="pure-form pure-form-stacked" method="POST">
                        {% if messages.errors %}
                        <div class="alert-msg">
                            {% for error in messages.errors %}
                            <div>- {{ error.msg }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <input type="hidden" name="_csrf" value="{{ _csrf }}">
                        <fieldset style="position: relative">
                            <input id="signup-email" type="email" name="email" placeholder="Email" tabindex="1">
                            <input id="signup-password" type="password" name="password" placeholder="Password" tabindex="2">
                            <input id="signup-nickname" type="text" name="nickname" placeholder="Only Screen Name" tabindex="3">
                            <!-- sourced by dropbox, use temporary, sorry -->
                            <div class="password-meter">
                                <div class="password-dot" style="background-color: #cce6f9;"></div>
                                <div class="password-dot" style="background-color: #cce6f9;"></div>
                                <div class="password-dot" style="background-color: #cce6f9;"></div>
                                <div class="password-dot" style="background-color: #cce6f9;"></div>
                            </div>
                        </fieldset>
                        <div class="tos-agree">
                            <label for="tos_agree">
                                <input type="checkbox" id="tos_agree" name="tos_agree" tabindex="4">
                                I agree to <a href="/terms" target="_blank">Haroopress Terms</a>
                            </label>
                        </div>
                    </form>
                </div>

                <div class="form-intro {% if messages.errors %}hidden{% endif %}">
                    <h1 class="cloud-form-head">Getting Big Start</h1>

                    <p class="cloud-form-subhead">Haroonote Professional Writing Platform</p>
                </div>
                <p>
                    <button type="submit" class="pure-button pure-button-primary" id="form-signup-submit">Sign up</button>
                </p>
                <p class="cloud-form-sign-in">
                    <a href="/login" id="pop_login">Sign in</a> or <a href="/login" id="pop_social_login">Social Registration</a>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="pure-g">
            <!-- todo: scrollTo -->
            <p class="pure-u-1 fix-bottom-lane is-center">
                <a href="">More About</a>
            </p>
        </div>

    </div>

    <div class="feature-content">
        <h2 class="content-head is-center">Haroonote Professional Writing Platform</h2>
        <p class="is-center">You can author professional-looking documents of various formats: blog posts, slides, presentations, reports, email and more.</p>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-paragraph"></i>
                    Markdown
                </h3>
                <p>
                    Not only supports Markdown, but also has ability to build extensions for making your own features.
                </p>
                <img class="insert-image pure-img" src="http://pad.haroopress.com/assets/images/illustrations/mail.png" alt="Haroo Avatar"/>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-cloud-upload"></i>
                    Cloud Sync
                </h3>
                <p>
                    Just write down anywhere with haroonote, Stay your document in cloud on sync.
                </p>
                <img class="insert-image pure-img" src="http://pad.haroopress.com/assets/images/illustrations/infinity.png" alt="Haroo Avatar"/>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-desktop"></i>
                    Cross Platform
                </h3>
                <p>
                    We support (Ubuntu, 32/64 bit) Windows 7/8, Mac OS X, of Linux. and working on IOS, Android.
                </p>
                <img class="insert-image pure-img" src="http://pad.haroopress.com/assets/images/illustrations/bag.png" alt="Haroo Avatar"/>
            </div>
            <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Seamless
                </h3>
                <p>
                    Supports modern themes in editing area, skins for transformed documents.
                </p>
                <img class="insert-image pure-img" src="http://pad.haroopress.com/assets/images/illustrations/retina.png" alt="Haroo Avatar"/>
            </div>
        </div>
        <div class="pure-g">
            <p class="pure-u-1 fix-bottom-lane is-center"></p>
        </div>
    </div>

    <div class="description-content">
        <div class="pure-g">
            <div class="l-box pure-u-1-2">
                <h2 class="content-subhead">Write Your All About It <span class="text-muted">Just write down</span></h2>

                <p class="lead">Simply write a text for your report or homework, daily review or blog post.
                    Simply write a text for your report or homework, daily review or blog post.
                    Simply write a text for your report or homework, daily review or blog post.</p>
            </div>
            <div class="l-box pure-u-1-2">
                <img class="pure-img insert-image" src="http://pad.haroopress.com/assets/images/intro/10.png">
            </div>
        </div>

        <div class="pure-g">
            <p class="pure-u-1 fix-bottom-lane is-center"></p>
        </div>

        <div class="pure-g">
            <div class="l-box pure-u-1-2">
                <img class="pure-img insert-image" src="http://pad.haroopress.com/assets/images/intro/8.png">
            </div>
            <div class="l-box pure-u-1-2">
                <h2 class="content-subhead">Browse Your Article <span class="text-muted">Share To the Web</span>
                </h2>

                <p class="lead">Easily make own blog system, no more wordpress
                    Easily make own blog system, no more wordpress
                    Easily make own blog system, no more wordpress</p>
            </div>
        </div>

        <div class="pure-g">
            <p class="pure-u-1 fix-bottom-lane is-center"></p>
        </div>

        <div class="pure-g">
            <div class="l-box pure-u-1-2">
                <h2 class="content-subhead">Productive Your Business <span class="text-muted">For The Win.</span></h2>

                <p class="lead">Co-working solution for small business team
                    Co-working solution for small business team
                    Co-working solution for small business team</p>
            </div>
            <div class="l-box pure-u-1-2">
                <img class="pure-img insert-image" src="http://pad.haroopress.com/assets/images/intro/5.png">
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

    <div class="modal-content pure-g" id="modal_login">
        <form method="POST" action="/login" class="pure-u-1 pure-form">
            <input type="hidden" name="_csrf" value="{{ _csrf }}">
            <legend>Sign in</legend>

            <div class="pure-g">
                <label class="pure-u-1 pure-u-md-1-4" for="login_email">Email</label>
                <input type="text" name="email" class="pure-u-1 pure-u-md-2-3" id="login_email" placeholder="Email">
            </div>

            <div class="pure-g">
                <label class="pure-u-1 pure-u-md-1-4" for="login_password">Password</label>
                <input type="password" name="password" class="pure-u-1 pure-u-md-2-3" id="login_password" placeholder="Password">
            </div>

            <div class="pure-g form-login-control">
                <label class="pure-u-1 pure-u-md-1-4"></label>
                <div class="pure-u-1 pure-u-md-2-3">
                    <button type="submit" class="pure-button pure-button-primary" id="login-submit">Login</button>
                    <a href="/account/reset-password" class="">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-content pure-g" id="modal_social_login">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pure-g">
                <a href="/auth/facebook" class="pure-button pure-button-primary btn-facebook btn-social pure-u-1">Sign in with
                    <i class="fa fa-facebook-square"></i><span class="raw-text">Facebook</span></a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pure-g">
                <a href="/auth/twitter" class="pure-button pure-button-primary btn-twitter btn-social pure-u-1">Sign in with
                    <i class="fa fa-twitter-square"></i><span class="raw-text">Twitter</span></a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pure-g">
                <a href="/auth/google" class="pure-button pure-button-primary btn-google-plus btn-social pure-u-1">Sign in with
                    <i class="fa fa-google-plus-square"></i><span class="raw-text">Google</span></a>
            </div>
        </div>
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bpopup/jquery.bpopup.min.js"></script>
<script src="/js/strength_checker.js"></script>
<script src="/js/index.js"></script>
</body>
</html>