<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/css/haroo-cloud-common.css" rel="stylesheet">
</head>
<body>
<div class="navbar-wrapper">
    <div class="container" id="top">
        {% include 'partials/top-menu.html' %}
    </div>
</div>

<div class="container form-signup">
    {% include 'partials/flash-message.html' %}

    <form id="basic-form" method="POST" action="/account/profile" class="form-horizontal form-signin">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <legend>Account Info</legend>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
                <input type="email" name="email" id="email" placeholder="Email" autofocus="" class="form-control" disabled value="{{ user.email }}">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Profile</label>
            <div class="col-sm-7">
                {% if user.profile.picture %}
                <p><img src="{{ user.profile.picture }}" alt="Picture"/></p>
                {% endif %}
                {% if user.profile.location %}
                <p>{{ user.profile.location }}</p>
                {% endif %}
            </div>
        </div>
    </form>

    {% if user.password && !(user.google || user.facebook || user.twitter) %}
    <form id="password-form" method="POST" action="/account/password" class="form-horizontal form-signin">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <legend>Change Password</legend>
        <div class="form-group"><label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-7">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
            </div>
        </div>
    </form>

    <form id="delete-form" method="POST" action="/account/delete" class="form-horizontal form-signin">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <legend>Delete Account</legend>
        <div class="form-group">
            <label for="confirmDelete" class="col-sm-3 control-label"></label>
            <div class="col-sm-7">
                <label><input type="checkbox" name="confirmDelete" id="confirmDelete" value="sure"> I want to delete my account for sure</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button class="btn btn-lg btn-danger btn-block" type="submit">Delete my account</button>
            </div>
        </div>
    </form>
    {% else %}
    <form id="unlink-form" method="POST" action="/account/unlink" class="form-horizontal form-signin">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <legend>Unlink Account</legend>
        <div class="form-group">
            <label for="confirmUnlink" class="col-sm-3 control-label"></label>
            <div class="col-sm-7">
                <label><input type="checkbox" name="confirmUnlink" id="confirmUnlink" value="sure"> I want to unlink my account for sure</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
                <button class="btn btn-lg btn-danger btn-block" type="submit">Unlink my account</button>
            </div>
        </div>
    </form>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>