* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #526066;
  font-size: 13px;
}
h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  line-height: 1.6em;
}
.debug {
  border: 1px solid darkred !important;
}
.is-center {
  text-align: center !important;
}
.is-right {
  text-align: right;
}
.l-box {
  padding: 1em;
}
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.text-muted {
  color: #91a8ba;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.fix-bottom-lane {
  border-bottom: 1px solid #eee;
  margin: 4em auto;
}
.fix-bottom-lane a {
  text-decoration: none;
  font-size: 14px;
  color: #91a8ba;
  margin-bottom: 2em;
  display: inline-block;
}
.page-wrap {
  margin: 0 auto;
  max-width: 80em;
}
.page-login {
  width: 90%;
}
.top-menu {
  background: #fff;
  text-align: left;
}
.top-menu .top-menu-alternative {
  float: left;
}
.top-menu ul {
  float: right;
}
.top-menu .top-menu-heading {
  padding: 0.5em 1em;
  font-size: 0.75em;
  vertical-align: bottom;
  color: #565d64;
  text-transform: uppercase;
  margin-top: 0.4em;
  display: block;
  line-height: 1em;
  text-decoration: none;
  white-space: nowrap;
}
.top-menu .go-home {
  width: 5em;
  background: url('/img/logo-small.png') top center no-repeat;
  background-size: 1.8em;
  padding-left: 4em;
}
.top-menu .dropout-show {
  left: auto;
  right: 0;
  top: 2.35em;
  visibility: visible;
}
.top-menu .dropout-show li {
  font-size: 0.9em;
  background: #efefef;
  margin: 1px;
}
.main-content {
  padding-top: 10em;
}
.main-content .profile-img {
  padding: 2em 2em 2em 5.5em;
}
.main-content .profile-img img {
  margin: 0 auto;
}
.main-content .cloud-form {
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}
.main-content .cloud-form .cloud-form-sign-in a {
  color: #0078e7;
}
.main-content .cloud-form .cloud-form-head {
  font-size: 1.2em;
  font-weight: bold;
  color: cornflowerblue;
  border: 3px solid cornflowerblue;
  padding: 1em 1.6em;
  border-radius: 5px;
  line-height: 1em;
  margin: 0 auto 0.8em;
  width: 14em;
}
.main-content .cloud-form .normal-form-head {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 0.5em;
}
.main-content .cloud-form .warning {
  color: #df7514;
  border-color: #df7514;
}
.main-content .cloud-form .success {
  color: #1cb841;
  border-color: #1cb841;
}
.main-content .cloud-form .cloud-form-subhead {
  letter-spacing: 0.05em;
  opacity: 0.8;
}
.main-content .cloud-form .cloud-form-sign-in {
  text-transform: none;
  font-size: 0.8em;
  color: #909090;
}
.main-content .cloud-form .alert-msg {
  color: #1c1c1c;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 85%;
  text-transform: none;
  text-align: left;
  margin: 0.2em auto;
}
.main-content .cloud-form .alert-msg div {
  padding: 0 0 2px 4px;
}
.main-content .cloud-form .password-meter {
  position: absolute;
  top: 50%;
  right: 1px;
  padding: 5px;
  margin-top: -1.3em;
}
.main-content .cloud-form .password-meter .password-dot {
  height: 3px;
  width: 4px;
  margin: 2px;
  background-color: #cce6f9;
}
.main-content .cloud-form .tos-agree {
  display: inline;
  font-size: 0.75em;
  text-transform: none;
}
.main-content .cloud-form .social-link {
  width: 11.4em;
  margin: 0 auto;
  padding: 0.5em;
}
.main-content .cloud-form .social-link div.pure-g {
  margin: 0.6em;
}
.main-content .cloud-form .social-link div.pure-g .btn-social {
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: none;
  padding: 6px 2px 4px 12px;
  color: #464646;
  text-align: left;
}
.main-content .cloud-form .social-link div.pure-g .raw-text {
  display: none !important;
  visibility: hidden !important;
}
.main-content .cloud-form .social-link div.pure-g i.fa {
  padding-left: 0.2em;
  font-size: 1.5em;
}
.main-content .cloud-form .reset-password-info {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-transform: none;
  text-align: left;
  word-break: break-all;
  background: #efe9be;
  color: #666;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-content .cloud-form .reset-password-info span.domain-haroopress {
  word-break: normal;
  color: #328ffe;
}
.feature-content .content-subhead,
.description-content .content-subhead {
  color: #1f8dd6;
  letter-spacing: 0.1em;
}
.feature-content .content-subhead i,
.description-content .content-subhead i {
  margin-right: 1px;
}
.feature-content .insert-image,
.description-content .insert-image {
  padding: 0.5em 3em 1em 0;
  margin: 0 auto;
}
.feature-content .insert-image {
  max-width: 12em;
}
.description-content .insert-image {
  max-width: 24em;
}
.footer-content {
  margin-top: 3em;
  border-top: 1px solid #eee;
  padding: 3em 1em;
  font-size: 0.9em;
}
.footer-content .dropout-show {
  left: -24px;
  top: 34px;
  visibility: visible;
}
.footer-content .dropdown-menu ul > li {
  font-size: 0.9em;
}
.form-wrapper {
  position: relative;
  top: 0;
  left: 0;
}
.form-wrapper form {
  margin: 0 auto;
  max-width: 20em;
}
.form-wrapper form fieldset input {
  width: 100%;
}
.modal-content {
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 25px 5px #999;
  color: #111;
  display: none;
  padding: 25px;
}
.modal-content .pure-form legend {
  margin-bottom: 1em;
}
.modal-content .pure-form legend .form-login-control {
  padding-top: 1em;
}
.modal-content .pure-form legend .form-login-control label {
  display: none;
}
.modal-content .pure-g {
  font-size: 0.9em;
}
.modal-content .pure-g label {
  padding-bottom: 0.2em;
}
.modal-content .form-login-control a {
  color: #0078e7;
  margin-left: 1em;
}
.modal-content .btn-social {
  margin: 0.5em 1em;
}
.modal-content .btn-social a {
  color: #fff;
  margin-left: 1em;
}
.modal-content .btn-social .raw-text {
  font-weight: bold;
}
.modal-content .btn-social i.fa {
  display: none;
}
@media (min-width: 35.5em) {
  .main-content .profile-img {
    padding: 1em 1em 1em 2em;
  }
  .description-content {
    padding: 1em 2em;
  }
  .modal-content {
    min-width: 30em;
    font-size: 1.1em;
  }
}
@media (min-width: 48em) {
  body {
    font-size: 16px;
  }
  .feature-content {
    padding: 1em;
  }
  .main-content .cloud-form .password-meter {
    margin-top: -1.15em;
  }
  .modal-content {
    font-size: 1.2em;
  }
  .modal-content .pure-g {
    font-size: 0.8em;
    margin: 0.4em;
  }
  .modal-content .pure-g label {
    display: block;
    text-align: right;
    margin-right: 1em;
  }
  .modal-content .form-login-control {
    margin-top: 1em;
  }
  .modal-content .btn-social .raw-text {
    display: none !important;
    visibility: hidden !important;
  }
  .modal-content .btn-social i.fa {
    display: inline-block;
    font-size: 2em;
    margin-left: 0.2em;
  }
}
@media (min-width: 78em) {
  .content-head {
    font-size: 200%;
  }
  .description-content {
    margin: 1em 2em;
  }
}
