body {
  color: #526066;
}
h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}
p {
  line-height: 1.6em;
}
.ddd {
  border: 1px solid darkred !important;
}
.top-menu {
  text-align: left;
}
.top-menu ul {
  float: right;
}
.top-menu .top-menu-heading {
  padding: 0.8em 1em;
  font-size: 0.7em;
}
.banner {
  padding-top: 10em;
}
.graphic {
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
.graphic .pure-img {
  margin: 0 auto;
}
.graphic .graphic-head {
  font-size: 20px;
  font-weight: bold;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}
.graphic .graphic-subhead {
  letter-spacing: 0.05em;
  opacity: 0.8;
}
