ul.sidebar .sidebar-list a.selected-list {
    color: #fff;
    border-left: 3px solid #e99d1a;
    text-indent: 22px;
}
ul.sidebar .sidebar-list a.selected-list .menu-icon {
    text-indent: 25px;
}
